blinker==1.4
click==6.7
cycler==0.10.0
docopt==0.6.2
facemorpher==5.0.0
ffmpy==0.2.2
Flask==1.0.2
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==3.0.0
numpy==1.15.2
opencv-python==3.4.3.18
pkg-resources==0.0.0
psycopg2==2.7.5
pyparsing==2.2.2
python-dateutil==2.7.3
scipy==1.1.0
six==1.11.0
SQLAlchemy==1.2.8
stasm==1.2.0
Werkzeug==0.14.1
