basev1.html

<!doctype html>
<html>
<head>
  <title> Baby Predictor </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  {% block head %}

  {% endblock %}

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  Baby Predictor

{% if "user_id" in session %}
  <a href="/logged_out">Logout</a>
{% else %}
  <a href="/login_form">Login</a>
{% endif %}
  <hr>
  
{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}
  
{% block content %} put your content here {% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>

