{% extends 'base.html' %}
{% block content %}

  <main class="container-fluid">

    <div class="row">
      <section class="splash-header col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>What Will Your Baby Look Like? Let The World Know</p>
        <a href="/register_form" class="btn">Sign Up</a>
      </section>

      <section class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
        <!-- <div class="col-md-4 col-md-offset-3"> -->
          <!-- <h2 id="signup">Sign Up Today<a href="/login_form" class="btn">Sign Up</a></h2> -->
          <!-- <form action="/register_form" method= "POST">
            <input name="email" type="text" class="form-control" placeholder="Your Email">
            <input name="password" type="password" class="form-control" placeholder="Your Password">
            <div> -->
              <!-- <a href="/login_form" class="btn">Sign Up</a> -->
            </div>
          </form>
        </div>
      </section>
    </div>

  </main>


<!-- <div class="container">

    <div class="row">

        <div class="col" >

        <div class="center"> <h1>What will your baby look like?</h1>  </div>
        <div class="center"> <h1>Let Us Predict For You</h1>  </div>

        <div class="center"> <img src="https://assets.parents.com/s3fs-public/styles/nfp_1080_portrait/public/GettyImages-569966583.jpg?Y10sbiJ4JFnoJy3DnRpO4hbQfXKSiUHc, https://www.parents.com/baby-names/ideas/popular/top-baby-names-of-2015/" alt="picture_of_babies" width="500" height="333"> </div>
 

        <div class="center"><a href="/register_form">Sign Up</a></div>

        </div>

    </div>

    

  </div>
 --> 



{% endblock %} 